@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

/* .menu-toggle{display: none;} */
.hamberger-menu{
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  border: none;
  border-radius: 30%;
  outline: none;
  cursor: pointer;
  z-index: 5;
  display: none;
}

.line{
  width: 30px;
  height: 2px;
  margin: 4px 0px;
  display: block;
  background-color:black;
  transform-origin: right;
  font-size: 0px;
}

.change .line1{
  transform: rotate(-40deg)translateY(-5px);
  translate: (-5px);
}
.change .line2{
  opacity: 0;
}
.change .line3{
  transform: rotate(40deg)translateY(5px);
}
.bg-cover{
  width: 40px;
  height: 40px;
  background-color: lavender;
  position: absolute;
  right: 10px;
  border-radius: 30%;
}

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.container{
  background: #1f1f1f;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.wrapper{margin: 0px 10%;position: relative;overflow: hidden;}

header .wrapper{
  height: 100px;
  border-bottom: 1px solid #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .wrapper h1 img{
  width: 125px;
  height: 25px;
}

header .wrapper nav{width: 45%;}

nav ul{
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
}

nav ul li a{
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  opacity: .9;
}

.active::after{
  width: 100%;
  height:3px;
  display: block;
  content: " ";
  background: skyblue;
}

.gallery .wrapper{border-bottom: 1px solid #303030;}

.imgnavigation{
  width: 50%;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  opacity: .8;
}

.imgnavigation li{
  padding: 10px 12px;
  font-size: 11px;
  text-transform: capitalize;
  cursor: pointer;
}

.activenav{background: greenyellow;}
.imgnavigation li:hover{background: greenyellow;}

.img_container{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 40px;
}

.img_container li img{
  width: 100%;
  height: 190px;
}

.img_container li{
  position: relative;
  width: 25%;
}

.img_container li:hover .inner-hover{
  display: block;
  opacity: 1;
}

.upperfooter > ul{
  padding-top: 30px;
  display: flex;
  list-style: none;
}

.upperfooterlist > li{
  width: 252px;
  margin-right: 10px;
}

.flickr{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.flickr li{width: 20%;}

.flickr img{
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
}

.upperfooter{
  box-sizing: border-box;
  border-bottom: 1px solid #303030;
}

.upperfooterlist li h2{
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}

.upperfooterlist li p{
  font-size:12px;
  opacity: .3;
  padding-bottom: 10px;
}

.recent-posts{
  list-style: none;
  color: #fff;
  box-sizing: border-box;
}

.recent-posts li{
  border-bottom: 2px solid grey;
  padding: 5px 0px;
}

.recent-posts li:first-child{padding-top: 0px;}
.recent-posts li:last-child{border: none;}

.recent-posts a{
  text-decoration: none;
  color: #fff;
  font-size:12px;
  opacity: .3;
}

.upperfooterlist li:nth-child(3) > ul{list-style: none;}

.tags{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.tags li{
  height: 30px;
  margin: 5px;
  background:#8fd0a6;
}

.tags a{
  color: #fff;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 12px;
  padding:5px;
  text-align: center;
  line-height:30px;
}

.tags li:hover{background:#c1c1c1;}

.bottomfooter{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomfooter span{
  font-size: 12px;
  opacity: 0.3;
}

.footer-social-icons{
  display: flex;
  float: left;
  align-items: center;
  list-style: none;
  color: #fff;
}

.footer-social-icons a{
  color: #fff;
  font-size: 15px;
  line-height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-indent: -9999px;
}

.footer-social-icons li{
  width: 30px;
  height: 30px;
  margin-left: 5px;
  background-color: #7c7c7c;
  border-radius: 50%;
  position: relative;
}

.footer-social-icons li:hover{
  background-color: #8fd0a6;
}
.inner-hover{
  width: 100%;
  height: 190px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #8fd0a6;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.inner-hover h2{
  padding-top:20%;
  font-size: 22px;
}

.inner-hover p{
  font-size: 14px;
}

.inner-hover a{
  display: inline-block;
  width: 40px;
  margin-top: 10px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  text-decoration: none;
  color: #8fd0a6;
}

.togglearea{
  border-bottom: 2px solid grey;
  display: flex;
  justify-content: flex-end;
  display: none;
}

.togglearea label{
  background-color: #1f1f1f;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.togglearea label span{
  background-color: grey;
  height: 3px;
  width: 80%;
  margin: 3px 0px;
}

#toggle{
  display: none;
}

@media screen and (max-width:1200px){
  .img_container li{
    width: 33.33%;
  }
  .flickr li{
    width: 33.33%;
  }
}
@media screen and (max-width:900px){
  .hamberger-menu{
    display: block;
    position: absolute;
    top: 30%;
  }
  nav{
    flex-direction: column;
  }
  header .wrapper nav{
    width: 100%;
  }
  nav ul{
    flex-direction: column;
    align-items: flex-end;
  }
  .navbar{
    display: none;
  }
  #toggle{
    display: none;
  }
  #toggle:checked + .navbar{
    display: flex;
  }
  .togglearea{
    display:flex ;
  }
  .imgnavigation{
    width: 100%;
  }

  .img_container li{
    width: 50%;
  }

  .flickr li{
    width: 30%;
  }
}

@media screen and (max-width:768px){
  .img_container li{
    width: 100%;
  }
  .upperfooter > ul{
    display: block;
  }
  .upperfooterlist li{
    width: 100%;
  }
}
.twitter::before{
  content: "\f099";
  float: right;
  font-family: "Font Awesome";
  text-indent: 0;
}
.gplus::before{
  content: "\f099";
  float: right;
  font-family: "Font Awesome";
  text-indent: 0;
}
.rss::before{
  content: "\f099";
  float: right;
  font-family: "Font Awesome";
  text-indent: 0;
}
.linkdn::before{
  content: "\f099";
  float: right;
  font-family: "Font Awesome";
  text-indent: 0;
}
.pinterest::before{
  content: "\f099";
  float: right;
  font-family: "Font Awesome";
  text-indent: 0;
}
.fb::before{
  content: "\f39e";
  float: right;
  font-family: "Font Awesome";
  text-indent: 0;
}
